---
import "../../styles/main.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiddlebops - Kostenlose Online-Spiele ohne Download</title>
	<meta name="description" content="Fiddlebops - Ein musikalisches Spiel mit unendlicher Kreativität! Starten Sie mühelos Ihre eigene Musikkomposition. Entdecken Sie verschiedene Musik-Elemente, schließen Sie einzigartige Spielmechaniken frei und teilen Sie das Musikfest mit Millionen von Spielern. Beginnen Sie jetzt Ihre Reise mit Fiddlebops!">
    <link rel="preload" href="https://silkycell.github.io/FiddleBops/" as="document">
    <link rel="dns-prefetch" href="https://silkycell.github.io">
    <link rel="preconnect" href="https://silkycell.github.io" crossorigin>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const faqItems = document.querySelectorAll('.faq-item');

    faqItems.forEach(item => {
        const question = item.querySelector('.faq-question');
        const answer = item.querySelector('.faq-answer');
        const toggleIcon = item.querySelector('.toggle-icon');

        question?.addEventListener('click', () => {
            question?.classList.toggle('active');
            if (answer instanceof HTMLElement) {
                answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
                if (toggleIcon instanceof HTMLElement) {
                    toggleIcon.style.transform = answer.style.display === 'block' ? 'rotate(45deg)' : 'rotate(0)';
                }
            }


        });
    });
});
</script>
<script>
	function goToLink(event: Event) {
	  const select = event.target as HTMLSelectElement;
	  const selectedOption = select.options[select.selectedIndex];
	  const url = selectedOption.getAttribute('data-url');
	  if (url) {
		window.location.href = url;
	  }
	}
  
	// 添加事件监听器
	document.addEventListener('DOMContentLoaded', () => {
	  const select = document.querySelector('select');
	  if (select) {
		select.addEventListener('change', goToLink);
		
		// 设置当前语言
		const currentPath = window.location.pathname;
		const options = Array.from(select.options);
		const currentOption = options.find(option => 
		  option.getAttribute('data-url') === currentPath
		);
		
		if (currentOption) {
		  currentOption.selected = true;
		} else {
		  // 如果是根路径或找不到匹配的选项，选择英文（默认语言）
		  const defaultOption = options.find(option => 
			option.getAttribute('data-url') === '/'
		  );
		  if (defaultOption) {
			defaultOption.selected = true;
		  }
		}
	  }
	});
  </script>
</head>
<body>
    <header>
    <div class="container">
		<select style="float:right;">
			<option value="">Language</option>
			<option data-url="/">English</option>
			<option data-url="/zh">简体中文</option>  
			<option data-url="/es">Español</option>
			<option data-url="/fr">Français</option>
			<option data-url="/de">Deutsch</option>
			<option data-url="/ja">日本語</option>
			<option data-url="/ko">한국어</option>
		  </select>
          <h1>Fiddlebops kostenlos online spielen</h1>
          <p>Zögern Sie nicht länger, treten Sie Fiddlebops bei und beginnen Sie Ihre persönliche Musikreise. Schreiben Sie mit kreativen Noten Ihr eigenes Musikstück.</p>
              <button><a href="#f_games">Spiel starten</a></button>
      </div>
      </header>
  
      <section class="reimagined"><div class="container">
          <h2>Fiddlebops - Ein von Fans entwickeltes Musikspiel auf der Grundlage von Incredibox</h2>
          <p>Fiddlebops basiert auf Incredibox und behält seinen Kernspielrahmen bei, bei dem verschiedene Musikelemente (wie Stimmen, Instrumentengeräusche usw.) verschiedenen Charakteren zugewiesen werden, um individuelle Musik zu kreieren. Allerdings hat Fiddlebops die Kreativität und das Design der Fans integriert und kann sich in Bezug auf Musikmaterial, Charaktergestaltung, Benutzeroberflächenstil usw. von der Originalversion von Incredibox unterscheiden, um den Spielern ein einzigartiges Musik-Erlebnis zu bieten.</p></div>
      </section>
  
      <section class="features"><div class="container">
          <h2>Fiddlebops - Spielstrategien</h2>
          <div class="feature-grid">
              <div class="feature-card">
                  <h3>Charaktere und Soundkombinationen kennenlernen</h3>
                  <p>Lernen Sie den einzigartigen Musikstil und die Soundmerkmale jedes Charakters genau kennen. Bevor Sie mit der Musikkomposition beginnen, sollten Sie die Stimmen der einzelnen Charaktere anhören und dann verschiedene Soundkombinationen ausprobieren, um ihre Zusammenwirkung zu beobachten. Dies bildet die Grundlage für Ihre weitere Komposition.</p>
              </div>
              <div class="feature-card">
                  <h3>Musikkompositionstechniken beherrschen</h3>
                   <p>Definieren Sie vor der Komposition ein Thema und einen Stil und erstellen Sie einen soliden Rhythmusrahmen. Verwenden Sie die Noten, um die Rhythmusvariationen zu erweitern. Planen Sie die Melodie sorgfältig, beginnen Sie mit einfachen Tonleitern, um eine einzigartige Melodie zu kreieren, und achten Sie auf die Melodieverläufe. Nutzen Sie Effekte und Soundeffekte geschickt, um Ihrer Musik mehr Tiefe und Atmosphäre zu verleihen.</p>
              </div>
              <div class="feature-card">
                  <h3>Die speziellen Spielfunktionen nutzen</h3>
                   <p>Wenn Sie bei der Komposition in eine Sackgasse geraten, können Sie die Zufallsfunktion des Spiels nutzen, um Inspiration zu erhalten. Sie generiert zufällig Noten, Rhythmen oder Soundkombinationen. Speichern Sie Ihre Werke nach der Komposition, um sie später zu verbessern, und teilen Sie sie in der Community, um mit anderen Spielern zu interagieren und ihre Vorschläge zu erhalten, um Ihr Kompositionsniveau zu verbessern.</p>
              </div>
              <div class="feature-card">
                   <h3>Üben und innovieren</h3>
                   <p>Schauen Sie sich die Werke anderer Spieler an, um Kompositionsideen und Techniken zu entdecken, und hören Sie verschiedene Musikgenres, um Ihr musikalisches Verständnis und Ihre Ästhetik zu verbessern. Wagnen Sie sich, von der Konvention abzuweichen, und experimentieren Sie mit neuen Soundkombinationen, Rhythmusmustern und Melodieverläufen, um neue Musikwerke zu schaffen.</p>
              </div>
          </div></div>
      </section>
  
      <section class="experience" id="f_games"><div class="container">
          <h2>Fiddlebops ausprobieren</h2>
          <p>Beginnen Sie sofort mit der Komposition und zeigen Sie Ihre eigenen Musikwerke!</p>
          <div class="placeholder">
              <iframe 
              src="https://silkycell.github.io/FiddleBops/" 
              width="100%" 
              height="500px" 
              loading="lazy" 
              fetchpriority="high">
            </iframe></div> <!-- Platzhalter für Video/Bild --></div>
      </section>
  
      <section class="how-to-play"><div class="container">
          <h2>Wie spielt man Fiddlebops?</h2>
          <p>Mit nur drei einfachen Schritten können Sie lernen, einzigartige Musik zu komponieren.</p>
          <div class="steps">
              <div class="step">
                  <span class="step-number">1</span>
                  <h3>Song auswählen und die Bedienung kennenlernen</h3>
                  <p>Wählen Sie einen Song aus der Jazz-orientierten Musikbibliothek des Spiels aus, um das Spiel zu starten. Normalerweise gibt es vor dem Spielstart eine einfache Anleitung, in der die grundlegenden Bedienungen erklärt werden, wie z. B. das Klicken, Wischen und Drücken, um den Musikrhythmus zu treffen.</p>
              </div>
              <div class="step">
                  <span class="step-number">2</span>
                  <h3>Musik komponieren</h3>
                  <p>Verwenden Sie die entlockten Instrumente und Soundeffekte, um die vorhandenen Songs neu zu mischen oder komplett neue Musikwerke zu komponieren, indem Sie die Elemente ziehen und kombinieren. Entfalten Sie Ihre Kreativität und entwickeln Sie Ihren eigenen Musikstil.</p>
              </div>
              <div class="step">
                  <span class="step-number">3</span>
                  <h3>Teilen und Herausforderungen annehmen</h3>
                  <p>Einige Versionen ermöglichen es Ihnen, Ihre Musikwerke mit anderen Spielern zu teilen oder an den verschiedenen Herausforderungen und Wettbewerben im Spiel teilzunehmen, um Ihre Fähigkeiten mit anderen Spielern zu messen und auf der Bestenliste Platz zu finden.</p>
              </div>
          </div></div>
      </section>
  
      <section class="testimonials"><div class="container">
          <h2>Bewertungen von Fiddlebops-Spielern</h2>
           <div class="testimonial-grid">
          <div class="testimonial-card">
              <p>"Ausgezeichnetes Musik-Erlebnis: Die Noten und Rhythmen sind perfekt aufeinander abgestimmt, sodass die Spieler die Schönheit der Musik während des Spiels voll und ganz spüren können, als wären sie inmitten eines Jazzkonzerts."</p>
              <p>- Tom G., Musikproduzent</p>
          </div>
          <div class="testimonial-card">
              <p>"Die Bedienung des Spiels ist relativ einfach. Selbst Spieler ohne Erfahrung in Musikspielen können sich in kurzer Zeit mit den Bedienungen vertraut machen und sofort Spaß haben!"</p>
              <p>- Hay K., Spieleentwickler</p>
          </div>
           <div class="testimonial-card">
              <p>"Das Spiel bietet eine große Auswahl an Instrumenten, Rhythmusmustern und Soundeffekten, die die Spieler entsperren und nutzen können. Sie können ihre Kreativität entfalten und neue Musikwerke erstellen, indem sie die Elemente ziehen und kombinieren."</p>
               <p>- Tony k., Musiklehrer</p>
          </div>
          </div></div>
      </section>
  
  <section class="faq"><div class="container">
          <h2>Häufig gestellte Fragen zu Fiddlebops</h2>
           <div class="faq-items">
          <div class="faq-item">
              <div class="faq-question">
                  <p>Was unterscheidet Fiddlebops von Incredibox?</p>
                  <span class="toggle-icon">+</span>
              </div>
              <div class="faq-answer">
                 <p>Fiddlebops unterscheidet sich von Incredibox in Bezug auf Musikmaterial, Charaktereinstellungen und Interface-Stil.</p>
              </div>
          </div>
  
           <div class="faq-item">
              <div class="faq-question">
                  <p>Brauche ich Musikerfahrung, um zu spielen?</p>
                  <span class="toggle-icon">+</span>
              </div>
              <div class="faq-answer">
                  <p>Für dieses Spiel ist keine Musikerfahrung erforderlich.</p>
              </div>
          </div>
  
          <div class="faq-item">
              <div class="faq-question">
                  <p>Kann ich meine Werke speichern und teilen?</p>
                   <span class="toggle-icon">+</span>
              </div>
              <div class="faq-answer">
                  <p>Ja, Sie können Ihre Musikwerke speichern und teilen.</p>
              </div>
          </div>
  
          <div class="faq-item">
               <div class="faq-question">
                  <p>Was sind die Systemanforderungen?</p>
                  <span class="toggle-icon">+</span>
               </div>
               <div class="faq-answer">
                  <p>Dieses Spiel kann auf den meisten modernen Browsern ausgeführt werden.</p>
              </div>
          </div>
  
          <div class="faq-item">
              <div class="faq-question">
                 <p>Gibt es Tutorials für neue Spieler?</p>
                 <span class="toggle-icon">+</span>
               </div>
              <div class="faq-answer">
                  <p>Ja, es gibt Tutorials für neue Spieler.</p>
               </div>
          </div>
  
      </div></div>
      </section>
  
      <section class="call-to-action"><div class="container">
          <h2>Bereit, Ihr musikalisches Meisterwerk mit Fiddlebops zu erschaffen?</h2>
          <p>Machen Sie sich auf die ultimative Reise der Musikkomposition mit Millionen von Spielern auf der ganzen Welt. Beginnen Sie jetzt Ihre Reise mit Fiddlebops!</p>
          <button><a href="#f_games">Spielen Sie Fiddlebops sofort</a></button></div>
      </section>
  
      <footer><div class="container">
          <div class="footer-content">
              <div class="about-links">
                   <h4>Über</h4>
                    <ul>
                     <li><a href="#">Fiddlebops.org</a></li>
                     <li><a href="#">Fiddlebops-Spiel</a></li>
                     <li><a href="#">Fiddlebops Online-Spiel</a></li>
                     <li><a href="#">Fiddlebops-Spielanleitung</a></li>
                   </ul>
              </div>
              <div class="legal-links">
                  <h4>Rechtliches</h4>
                    <ul>
                      <li><a href="#">Nutzungsbedingungen</a></li>
                      <li><a href="#">Datenschutzrichtlinien</a></li>
                      <li><a href="#">Cookie-Richtlinien</a></li>
                     <li><a href="#">GDPR-Konformität</a></li>
                   </ul>
              </div>
          </div>
         <p>© 2025 Fiddlebops. Alle Rechte vorbehalten.</p></div>
      </footer>
  
  </body>
  </html>